* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

canvas {
    z-index: -2;
    position: absolute;
}

#vantagens {
    width: 100%;
    height: 120%;
    z-index: -1;
}

i{
    font-size: 30px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
#hacks{
    background-color: #131019;
}

#sobrenos{
    background-color: #1A1E26;
    padding: 5%;
}